@font-face {
    font-family: 'Astera';
    src: url('fonts/Astera.ttf');
}
@font-face {
    font-family: 'Anurati';
    src: url('fonts/Anurati-Regular.otf');
}
@font-face {
    font-family: 'cheque';
    src: url('fonts/Cheque Regular.otf');
}
@font-face {
    font-family: 'Digital';
    src: url('fonts/Digital.ttf');
}
@font-face {
    font-family: 'Dark';
    src: url('fonts/pdark.ttf');
}