* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    font-family: 'Digital';
}
@font-face {
    font-family: 'Digital';
    src: url('Digital.ttf');
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1e0a31;
}
#clock h2 {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 0.625rem 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
}
#clock #time {
    display: flex;
}
#clock #time div {
    position: relative;
    margin: 0 0.3125rem;
    padding-left: .6rem;
    -webkit-box-reflect: below 0.1625rem linear-gradient(
        transparent, rgba(255, 0, 0, 0.466));
}
#clock #time div span {
    position: relative;
    display: block;
    border-radius: .5rem .5rem 0 0;
    width: 6.25rem;
    height: 5rem;
    /* background: #2196f3; */
    background: #127fd6;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    z-index: 10;
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, .2);
}
#clock #time div span:nth-child(2) {
    height: 1.875rem;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-radius: 0 0 .5rem .5rem;
    z-index: 9;
    box-shadow: none;
    background: #0c64ac;
    text-transform: uppercase;
}
#clock #time div:last-child span {
    background: rgb(255, 0, 128);
}
#clock #time div:last-child span:nth-child(2) {
    background: #df005d;
}